.blog {
  padding: 20rem 4.8rem 12rem;

  &__button-container {
    width: 100%;
    text-align: center;
    margin-top: 6rem;

    & > button {
      &:disabled {
        background-color: #bbb;
        cursor: not-allowed;
      }
    }
  }
}
