.featured-card {
  width: 100%;
  border-radius: 3.35rem;
  overflow: hidden;

  &:hover {
    img {
      filter: brightness(120%);
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 22rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 300ms ease-in-out;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $light-brown;
    padding: 2rem;
    height: 20rem;

    &-headline {
      margin-bottom: 1.5rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}
