.info {
  display: flex;
  justify-content: space-between;
  margin: 8rem 0;

  &--reversed {
    flex-direction: row-reverse;

    & .info__image {
      border-radius: 32rem 0 0 32rem;
    }
  }

  &__image {
    position: relative;
    width: 48%;
    height: 65rem;
    border-radius: 0 32rem 32rem 0;
    overflow: hidden;
  }

  &__text {
    width: 62%;
    height: 6.5rem;
    padding: 0 4.8rem;
  }

  &__headline {
    margin: 1rem 0;
  }

  &__description {
    font-size: 2rem;

    & p {
      margin-bottom: 1rem;
    }
  }

  & .btn {
    margin-top: 3rem;
  }
}
