.article-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  height: 60rem;

  &__info {
    width: 60%;
    margin-bottom: auto;

    > h3 {
      margin-bottom: 2.4rem;
    }
  }

  &__contents {
    width: 40%;
    text-align: right;
    list-style: none;
    font-size: 3rem;
    margin-top: auto;
    color: #0041e8;

    & a {
      text-decoration: underline;
    }
  }
}
