.footer {
  background-color: black;
  color: white;
  padding: 6rem 4.8rem;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
  }

  &__logo {
    width: 7rem;
    filter: brightness(150%) invert(1);
  }

  &__links {
    display: flex;
    list-style: none;
    gap: 7rem;

    li {
      text-align: right;
    }
  }

  &__policies {
    display: flex;
    justify-content: space-between;
  }

  &__policies-nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.5rem;
  }
}
